In [3]:
import pandas as pd
a=[7,1,2]
myvar=pd.Series(a)
myvar

0    7
1    1
2    2
dtype: int64

In [4]:
print(myvar[0])

7

In [5]:
myvar=pd.Series(a,index=["x","y","z"])
myvar

x    7
y    1
z    2
dtype: int64

In [6]:
data={
    "calories": [540,12,35],
    "duration": [12,5,54]
}
df=pd.DataFrame(data)
df

   calories  duration
0       540        12
1        12         5
2        35        54

In [7]:
df.loc[0]

calories    540
duration     12
Name: 0, dtype: int64

In [8]:
df.loc[[0,1]]

   calories  duration
0       540        12
1        12         5